<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ios-plist-load-demo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>BCEC386D1E6FED79000DD879</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BCEC38811E6FED79000DD879</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BCEC388C1E6FED79000DD879</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
